@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #141414;
    --card: #ffffff;
    --card-foreground: #141414;
    --popover: #ffffff;
    --popover-foreground: #141414;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f2f2f2;
    --secondary-foreground: #1a1a1a;
    --muted: #f2f2f2;
    --muted-foreground: #7a7a7a;
    --accent: #f2f2f2;
    --accent-foreground: #1a1a1a;
    --destructive: #cc3333;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #141414;
    --radius: 0.5rem;
    --chart-1: #e67399;
    --chart-2: #2b8cbe;
    --chart-3: #3b5a6e;
    --chart-4: #6ec664;
    --chart-5: #44d9b3;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* --background: 240 10% 3.9%; */
    --background: #141414;
    --foreground: #fafafa;
    --card: #1a1a1a;
    --card-foreground: #fafafa;
    --popover: #1a1a1a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #262626;
    --secondary: #404040;
    --secondary-foreground: #fafafa;
    --muted: #404040;
    --muted-foreground: #a6a6a6;
    --accent: #404040;
    --accent-foreground: #fafafa;
    --destructive: #cc3333;
    --destructive-foreground: #fafafa;
    --border: #404040;
    --input: #404040;
    --ring: #d9d9d9;
    --chart-1: #3399cc;
    --chart-2: #66cccc;
    --chart-3: #ffcc33;
    --chart-4: #a64dff;
    --chart-5: #ff3399;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  --sb-track-color: transparent;
  --sb-thumb-color: #444444;
  --sb-size: 4px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

html::-webkit-scrollbar {
  width: var(--sb-size)
}

html::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

main {
  min-height: 100dvh;
  width: 100%;
  position: relative;
  z-index: 15;
}


.wallet-adapter-button.wallet-adapter-button-trigger {
  @apply relative z-0 flex h-min w-full cursor-pointer items-center justify-center rounded-lg bg-[#E2E2E2] px-6 py-[9px] text-sm font-normal text-black outline outline-[0.7px] backdrop-blur-sm backdrop-filter transition-all duration-500 hover:text-white hover:before:opacity-100 md:text-base;
}
.wallet-adapter-button.wallet-adapter-button-trigger::before {
  @apply absolute left-0 top-0 z-[-100] block h-full w-full rounded-[inherit] bg-opacity-10 bg-gradient-to-r from-[#000] to-gray-900 bg-clip-padding text-white opacity-0 backdrop-blur-sm backdrop-filter transition-opacity duration-500 ease-in-out content-[""];
}
.wallet-adapter-button.wallet-adapter-button-trigger
  > .wallet-adapter-button-start-icon {
  @apply !mr-2;
}

.wallet-adapter-dropdown-list {
  @apply absolute z-[100] !gap-0 border-[2px] border-[#505050] !bg-[#505050] !p-0;
}
.wallet-adapter-dropdown-list-active {
  @apply translate-x-[40%] translate-y-[5%] gap-0 p-0 md:translate-x-0;
}
.wallet-adapter-dropdown-list::before {
  @apply absolute -top-[5px] left-[50%] translate-x-[-50%] border-x-8 border-b-4 border-x-transparent border-b-[#505050] content-[""];
}
.wallet-adapter-dropdown-list > li {
  @apply px-10 py-5;
}
.wallet-adapter-dropdown-list > li:hover {
  @apply !bg-black;
}

